extends ../layout

block content
  h1= "Cualit Gaming Cup"
  form(method='POST' action='/warmup')
    each group, key in groups
      p= key + " - " + getTrack()
      ul
      each p in group
        li= p.name
        input.form-control(type='number' id='name' placeholder='Puntaje' name=key+'_'+p.id)

    button.btn.btn-primary(type='submit' onClick="createWarmUpRace()")  Guardar
  script.
    var players =!{JSON.stringify(players)}
    function createWarmUpRace() {
      console.log('ahorasiholi', players)
      //players.push({name: "s"})
    }
