extends ../layout

block content
  h1= "Cualit Gaming Cup"
  p Teams
  div.players-container
    form(method='POST' action='/teams')
      each team,index in teams
        div.team
          div= "#" + (index + 1) + " - Team: " + team.name + " - " + team._id
          each player in team.players
            div.player
              div
                b
                  p= player.name
              div
                p Scores
                  ul
                  each score in player.scores || []
                    li= score
                  b
                    p= "Total: " + ((player.scores && player.scores.reduce((s1,s2) => {return s1, s2},0)) || 0)

          div.player
            div
              p -
            div
              b
                p= "TEAM TOTAL: " + team.getTotalScore()
