extends ../layout

block content
  h4.page-title Teams
  hr.hr-primary
  div.players-container
    form(method='POST' action='/teams')
      each team,index in teams
        div
          b
            div= "#" + (index + 1)  +" "+ team.name.toUpperCase() +" "+ team.id
          div.blank-space-20
          each player in team.players
            div.player
              div
                b
                  p.text-primary= player.name
              div
                p Scores
                  ul
                  each score in player.scores || []
                    li= score
                  b
                    p= "Total: " + ((player.scores && player.scores.reduce((s1,s2) => {return s1, s2},0)) || 0)

          div.player
            div
              p -
            div
              b
                p= "TEAM TOTAL: " + team.getTotalScore()
